<!--label>
  Enter Email:
  <input type ="text" [formControl]="email">
</label>
<p>
  Display value: {{email.value}}
</p>
<p>
  <button (click)="updateEmail()"> Click to update</button>
</p-->
<h1>REACTIVE FORMS: </h1>
<form [formGroup] = "userProfileForm" (ngSubmit)="onSubmit()">

<label>
 First Name:
  <input type ="text" formControlName="firstName">
</label>
<label>
  <br>
 Last Name:
  <input type ="text" formControlName="lastName">
</label>
<label>
  <br>
 Age:
  <input type ="text" formControlName="age">
</label>
<br>
<label>
 email:
  <input type ="text" formControlName="email">
</label>

<div formGroupName="address">
  <label>
  <br>
 Address1:
  <input type ="text" formControlName="address1">
</label>
<label>
  <br>
 Address2:
  <input type ="text" formControlName="address2">
</label>
<label>
  <br>
 PIN:
  <input type ="text" formControlName="PIN">
</label>
<label>
  <br>
 CITY:
  <input type ="text" formControlName="CITY">
</label>

</div>
<button type="submit" [disabled] ="!userProfileForm.valid">Submit</button>

</form>

<h1> TEMPLATE DRIVEN FORMS</h1>
MyVersion : <input typre="text" [(ngModel)] = " MyVersion">
<p>

{{MyVersion}}

</p>
